<!--  Course name: Web Application Development
      Course code:COMP229-008
      Assignment: 1
      Student ID: 301246562
      Student Name: Sing Cheung Tin
      Date:   May 20, 2023
      Filename: biz-contacts.ejs
-->
<!DOCTYPE html>
<html>
<head>
  <title>Business Contacts</title>

  <link rel='stylesheet' href='/stylesheets/assignment1.css' />
</head>
<body>
  <%- include('partials/header') %>
  <!-- <h1>Business Contacts</h1> -->
  <table class="biz-table">
    <tr>
      <th>Contact Name</th>
      <th>Contact Number</th>
      <th>Email Address</th>
      <th>Actions</th>
    </tr>
    <% contacts.forEach(function(contact) { %>    <!--create a new array 'contacts'-->
      <tr>
        <td><%= contact.username %></td>    <!--assign a new object 'contact'-->
        <td><%= contact.phone %></td>
        <td><%= contact.email %></td>
        <td>
          <form class="form-button" action="/contacts/update/<%= contact._id %>">
            <input class="button" type="submit" value="Update">
          </form>
          <form class="form-button" action="/contacts/delete/<%= contact._id %>" method="POST" onsubmit="return confirm('Please click OK to confirm to delete this contact.')">
            <input class="button" type="submit" value="Delete">
          </form>
        </td>
      </tr>
    <% }); %>
  </table>
</body>
<br>
<%- include('partials/footer') %>
</html>